/* sidebar style */
.sideNav{
    height: 100%;
    width: 250px;
    position: fixed; /*fixed sidebar*/
    z-index: 1; /*stay on top*/
    top: 0; /*stay at the top*/
    left: 0;
    background-color: #322743;
    overflow-x: hidden; /*disable horizontal scroll*/
    padding-top: 20px;
}

.sideNav a{
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #E2DDEA;
    display: block;
}

.sideNav a:hover{
    color: #70569a;
    background-color: #d6cae9;
}

.sideNav a.active{
    color: #70569a;
    background-color: #E2DDEA;
}

.sideNav a.navTabTittle{
    font-weight: bold;
    font-size: 26px;
    padding: 12px 16px;
}

/*main*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E2DDEA;
    color:#3e295f;
    margin-left: 320px;
    padding: 20px;
    font-size: 20px;
}

.goals, .progress{
    background-color: #f2eff7;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 80%;
    margin: 0 auto;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

h2{
    margin-bottom: 15px;
}

/* table styling */
.goalTable, .progressTable{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

.goalTable th, .goalTable td, .progressTable th, .progressTable td {
    padding: 12px;
    border: 1px solid #ddd;
}

.goalTable th, .progressTable th {
    background-color: #785da3;
    color: white;
}

/* Add Goal Button */
.goalProgress button, .update button{
    background-color: #785da3;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin: 30px 20px 0px 0px;
}

.goalProgress button:hover, .update button:hover{
    background-color: #2c1b47;
}

/* style select options */
/* Default dropdown  */
select {
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    appearance: none; /* hide dropdown arrow*/
    text-align: center;
}

/* Option that did not choose */
option {
    padding: 8px;
    background-color: #fff;
    color: black;
}

