/* sidebar style */
.sideNav{
    height: 100%;
    width: 250px;
    position: fixed; /*fixed sidebar*/
    z-index: 1; /*stay on top*/
    top: 0; /*stay at the top*/
    left: 0;
    background-color: #322743;
    overflow-x: hidden; /*disable horizontal scroll*/
    padding-top: 20px;
}

.sideNav a{
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #E2DDEA;
    display: block;
}

.sideNav a:hover{
    color: #70569a;
    background-color: #d6cae9;
}

.sideNav a.active{
    color: #70569a;
    background-color: #E2DDEA;
}

.sideNav a.navTabTittle{
    font-weight: bold;
    font-size: 26px;
    padding: 12px 16px;
}


/*main*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E2DDEA;
    color:#3e295f;
    margin-left: 320px;
    padding: 20px;
    font-size: 20px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.container{
    background-color: #f2eff7;
    border-radius: 5px;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
}

/* form styling */
.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75{
    width: 75%;
}

.row{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: flex-end; /* align content to right */
}

.nameRow{
    display: flex;
    justify-content: space-between; /* adjust gap between fields */
    gap: 10px;
}

input[type=text]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

input[type=email], input[type=tel], input[type=password], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    width: 25%;
    font-weight: bold;
}

input[type=submit] {
    background-color: #785da3;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    font-size: 18px;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: #2c1b47;
}
