body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E2DDEA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_box {
    background-color: #fff;
    border: 2px solid #70569a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    max-width: 350px;
    width: 100%;
}

.logo_container {
    height: 100px;
    background-color: #d6cae9; 
    margin-bottom: 20px;
    border-radius: 5px;
}

h1 {
    color: #322743; 
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #322743;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #70569a; 
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #70569a; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #322743; 
}

.forgot_password {
    display: block;
    text-align: right;
    margin-bottom: 15px;
    color: #70569a; 
    text-decoration: none;
}

.signup_link a {
    text-decoration: none;
    color: #70569a;
    font-weight: bold;
}

.signup_link a:hover {
    color: #322743;
    text-decoration: underline;
}
