body,h1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E2DDEA;
    margin: 50px;
}

body > form{
    margin: 80px;
}

body > form > input[type=text]{
    width: 100%;
    margin: 0 30px 30px 30px;
    padding: 12px 20px;
    box-sizing: border-box;
}

body > form > input[type=button]{
    width: 30%;
    padding: 20px;
    box-sizing: border-box;

    font-size: x-large;
    background-color: #322743;
    border: 3px solid #E2DDEA;
    color: #E2DDEA;
    font-style: oblique;

    margin: auto;
    display: block;
    border-radius: 5px;
}

body > form > input[type=button]:hover{
    width: 30%;
    padding: 20px;
    box-sizing: border-box;

    font-size: x-large;
    background-color: #E2DDEA;
    border: 3px solid #322743;
    color: #322743;
    font-style: oblique;
    cursor: pointer;
    text-decoration: underline;

    margin: auto;
    display: block;
    border-radius: 5px;
}

#addIcon{
    margin-left: 20px;
    margin-top: 10px;
}