body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#E2DDEA ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: #fff;
    border: 1px solid #322743;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 23px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group label {
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 77%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
}

.full-width {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.button-container button {
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.remove-button {
    background-color: #e74c3c;
    color: #fff;
}

.submit-button {
    background-color: #3498db;
    color: #fff;
}

.remove-button:hover {
    background-color: #c0392b;
}

.submit-button:hover {
    background-color: #2980b9;
}