/*main*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E2DDEA;
    color:#3e295f;
    font-size: 20px;
    padding: 20px;
    margin: 0;
}

.container{
    text-align: left;
    background-color: #f2eff7;
    border-radius: 5px;
    padding: 40px;
    width: 95%;
    margin: 20px auto;
    box-sizing: border-box;
    position: relative;
}

h1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

button {
    background-color: #785da3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

button:hover {
    background-color: #2c1b47;
}